*.tmp
archive/
database.ini
__pycache__/
.env
.vscode/
.gitignore
credentials.json
src/testing.py
logging/
import/
*.log
logs/guild_data_app.log
logs/guild_data_app.log.1
logs/guild_data_app.log.2
logs/guild_data_app.log.3
.pytest_cache/
*.env
